.bar{
    position: relative;
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    height:5%;
    
}
#headline{
    color:#178f1b;
    width:100%;
    height:10%;
    margin-top:5%;
    margin-bottom:3rem;
}
#element{
    width:100%;
    margin-right: 7%;
    margin-left:5%;
    margin-top:1%;
    list-style-type: none;
}
.body{
    background-color: #ffffff;
}
.entire{
    position:relative;
    column-count: 3;
    column-fill:initial;
    margin-right:5%;
    margin-left:5%;
}
.picture{
    width:100%;
    height:50%;
    border:#000000;
    outline-width:1px;
    outline-color:black;
    outline-style: solid;
}
.aglist{
    list-style-type: none;
    width:100%;
    height:50%;
    margin-bottom: 1rem;
}
.photo{
    background-color: #178f1b;
    width:30%;
    height:40%;
    margin:5%;
    float:left;
    opacity: 70%;
    outline-style: solid;
    outline-color:#000000;
    outline-width: 3px;
}
.content{
    margin-top:5%;
    margin-right:5%;
    margin-left:5%;
    color:#464646;
}
.endBox{
    margin-top:10%;
    height:20%;
    background-color:#464646;
}
.theater{
    background-color: #ffffff;
}
